<h2>Methods that were not run</h2><table>
<tr><td>pages.base.PageTest.afterSuite</td></tr>
<tr><td>pages.base.PageTest.afterSuite</td></tr>
<tr><td>pages.base.PageTest.beforeSuite</td></tr>
<tr><td>pages.base.PageTest.beforeSuite</td></tr>
</table>