<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Page Object test example</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:55:29</td>   <td>0</td> <td title="&gt;&gt;PageTest.beforeSuite()[pri:0, instance:page.test.NewCustomerTest@29ca901e]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:55:30</td>   <td>394</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PageTest.beforeClass()[pri:0, instance:page.test.NewCustomerTest@29ca901e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:55:31</td>   <td>1287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PageTest.BeforeMedthod(java.lang.String, java.lang.reflect.Method)[pri:0, instance:page.test.NewCustomerTest@29ca901e]">&gt;&gt;BeforeMedthod</td> 
<td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>19/05/12 22:55:40</td>   <td>10211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewCustomerTest.beforeMethod()[pri:0, instance:page.test.NewCustomerTest@29ca901e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>19/05/12 22:55:40</td>   <td>10211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewCustomerTest.AddNewCustomer(java.util.HashMap)[pri:0, instance:page.test.NewCustomerTest@29ca901e]">AddNewCustomer</td> 
  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:55:53</td>   <td>23021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PageTest.AfterMethod(org.testng.ITestResult)[pri:0, instance:page.test.NewCustomerTest@29ca901e]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:55:54</td>   <td>24821</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PageTest.afterClass()[pri:0, instance:page.test.NewCustomerTest@29ca901e]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:55:54</td>   <td>24823</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PageTest.beforeClass()[pri:0, instance:page.test.NewAccountTest@5649fd9b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:55:54</td>   <td>24914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PageTest.BeforeMedthod(java.lang.String, java.lang.reflect.Method)[pri:0, instance:page.test.NewAccountTest@5649fd9b]">&gt;&gt;BeforeMedthod</td> 
<td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>19/05/12 22:56:36</td>   <td>66388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewAccountTest.beforeMethod()[pri:0, instance:page.test.NewAccountTest@5649fd9b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>19/05/12 22:56:36</td>   <td>66391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewAccountTest.AddNewAccount(java.util.HashMap)[pri:0, instance:page.test.NewAccountTest@5649fd9b]">AddNewAccount</td> 
  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:56:47</td>   <td>77655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PageTest.AfterMethod(org.testng.ITestResult)[pri:0, instance:page.test.NewAccountTest@5649fd9b]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:56:48</td>   <td>78966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PageTest.BeforeMedthod(java.lang.String, java.lang.reflect.Method)[pri:0, instance:page.test.NewAccountTest@5649fd9b]">&gt;&gt;BeforeMedthod</td> 
<td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>19/05/12 22:57:20</td>   <td>110584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewAccountTest.beforeMethod()[pri:0, instance:page.test.NewAccountTest@5649fd9b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>19/05/12 22:57:20</td>   <td>110586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewAccountTest.AddNewAccount(java.util.HashMap)[pri:0, instance:page.test.NewAccountTest@5649fd9b]">AddNewAccount</td> 
  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:57:31</td>   <td>121567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PageTest.AfterMethod(org.testng.ITestResult)[pri:0, instance:page.test.NewAccountTest@5649fd9b]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:57:32</td>   <td>122855</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PageTest.afterClass()[pri:0, instance:page.test.NewAccountTest@5649fd9b]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:57:32</td>   <td>122856</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PageTest.beforeClass()[pri:0, instance:page.test.DepositTest@6adede5]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:57:32</td>   <td>122904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PageTest.BeforeMedthod(java.lang.String, java.lang.reflect.Method)[pri:0, instance:page.test.DepositTest@6adede5]">&gt;&gt;BeforeMedthod</td> 
<td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/05/12 22:57:42</td>   <td>132390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DepositTest.beforeMethod()[pri:0, instance:page.test.DepositTest@6adede5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/05/12 22:57:42</td>   <td>132392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DepositTest.AddNewCustomer(java.util.HashMap)[pri:0, instance:page.test.DepositTest@6adede5]">AddNewCustomer</td> 
  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:57:58</td>   <td>148833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PageTest.AfterMethod(org.testng.ITestResult)[pri:0, instance:page.test.DepositTest@6adede5]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:58:00</td>   <td>150536</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PageTest.afterClass()[pri:0, instance:page.test.DepositTest@6adede5]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/05/12 22:58:00</td>   <td>150619</td> <td title="&lt;&lt;PageTest.afterSuite()[pri:0, instance:page.test.NewCustomerTest@29ca901e]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
</table>
